<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <style>

        body {
            background-color: lightgoldenrodyellow;
        }
        nav {
            background-color: lightblue;
            padding: 10px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/signin">Login</a>
        <a href="/signin/logout">Logout</a>
        <a href="/">Main page</a>
        <a href="/signup">SignUp</a>
        <a href="/user-panel">User panel</a>
    </nav>
</body>
</html>